.Section2{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.Sec2-left{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 4rem;
}
.Sec2-right{
    flex: 1;
    /* display: flex; */
    position: relative;
    
       
}

.Sec2Title{
    display: flex;
    flex-direction: column;
    
}
.Sec2Title>:nth-child(1){
    font-size: 3rem;
    font-weight: bold;
    color: var(--black);
}
.Sec2Title>:nth-child(2){
    font-size: 3rem;
    font-weight: bold;
    color: var(--orange);
}
.Sec2Title>:nth-child(3){
    font-size: 20px;
    font-weight: 100;
    color: var(--gray);
    margin-top: 1rem;
}
.section2button{
    width: 8rem; 
}
.card{
    width: 11rem;
    height: 15rem;
/* position: relative; */
    
}

.card>:nth-child(1){
    position: absolute;    
    right : 10%;
    top: -40%
    

}
.card>:nth-child(2){   
    position: absolute; 
    top : 70%;
    left: -20%

}
.card>:nth-child(3){   
    position: absolute; 
    top : 120%;
    left: 35%

}
