.contact{
    height: 70vh;
    display: flex;
    padding: 0rem 3rem 0rem 3rem;
    margin-top: 3rem;
    align-items: center;
    justify-content: center;
    
    position: relative;
    
    
}
.c-left{
    text-align: center;
    
   
}
.cRight{
    flex: 1;
    display: flex;
    justify-content: center;
    position: relative;
    justify-content: flex-start;
}
.form{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    
    
}
.putin{
    border: 2px solid var(--yellow);
    outline: none;
    height: 2rem;
    width: 20rem;
    border-radius: 8px;
    padding-left: 1rem;
    font-style: 16px;
}

textarea{
    height: 4rem!important;
}
.c-button{
    width: 6rem;
}

/* Mobile */

@media screen and (max-width: 480px){
  .contact{
    padding: 0;
    gap: 2rem;
    flex-direction: column;
  }
  .form{
    transform: scale(0.8);
  }
  .s-blur2{

    display: none;
  }
  .c-button{
    margin-bottom: 2rem;
  }
} 