.works{
    height: 70vh;
    display: flex;
    padding: 0rem 3rem 0rem 3rem;
    margin-bottom: 3rem;
}

.main{
    height: 20rem;
    width: 20rem;
    border-radius: 100%;
    background-color: white;
    box-shadow: var(--smboxShadow);
    position: relative;
    right : 0%;
    flex-wrap: wrap;
    
    
   
    

}
.w-circles{
    flex: 1;  
    display: flex;
    position: relative;
    
    align-items: center;
    justify-content: center;
    

        
}
.awesome{
    flex: 1;
}
.floating{
    height: 7rem;
    width: 7rem;
    border-radius: 100%;
    background-color: white;
    box-shadow: var(--smboxShadow);
    align-items: center;
    justify-content: center;
    align-content: center;
    display: flex;
    transform: scale(0.9);
    border: 5px solid #ebebeb;
    
}
.main>*{
    position: absolute;
}
.main>:nth-child(1){
    top: -10%;
    left: 30%;
    
}
.floating:nth-child(1)>img{
    transform: scale(0.4);
}
.floating:nth-child(2)>img{
    transform: scale(0.25);
}
.floating:nth-child(3)>img{
    transform: scale(0.3);
}
.floating:nth-child(5)>img{
    transform: scale(0.3);
}
.floating:nth-child(4)>img{
    transform: scale(0.35);
}
.main>:nth-child(2){
    top: 30%;
    
    left: -18%;
}
.main>:nth-child(3){
    bottom: -10%;
    left: 37%
}
.main>:nth-child(4){
    bottom: 35%;
    right: -15%
}
.main>:nth-child(5){
   top: 30%;
    right: 30%
}
.floating>img{
    transform: scale(0.7);
}
.back-circle{
    position: absolute;
    height: 12rem;
    width: 12rem;
    
    border-radius: 100%;
    z-index: -1;
}
.blue-circle{
    background-color: #1949B8;
   left: 16rem;
   top: 2rem;

}
.yellow-circle{
    background-color: #F5C32C;
    left: 17rem;
    top: 11rem;
}

/* Mobile */
@media screen and (max-width: 480px){
 .works{
    height: 55rem;
    flex-direction: column;
    padding: 0;
    gap: 5rem;
 }
 .w-circles{
    display: flex;
    align-items: flex-start;
    justify-content: start;
    transform: scale(0.7);

 }
 .main{
    position: static;

 }
 .back-circle{
    left: 8rem !important;
    
 }
 
} 